<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}</title>

  <link href="/keybase.pub" rel="pgpkey">
  <link href="mailto:bryce@fisher-fleig.me" rel="me">
  <link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/favicon.ico" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="Bryce Fisher-Fleig's Blog">
</head>
<body{% if section.extra["css-id"] %} id="{{ section.extra["css-id"] }}"{% endif %}>
  <nav id="header">
    <a href="/" id="logo">
      <img src="/img/logo.png" alt="B" />
    </a>
  </nav>

  {% block content %}{% endblock content %}

</body>
</html>
