{% extends "default.html" %}
{% block content %}
<div id="site-mission">
  <h1>Bryce Fisher-Fleig</h1>
  <p>Fullstack Forrays into Web Development</p>
</div>

<section id="main-content">
  {% for post in section.pages %}
  <article class="node-article">
    <header class="article-header">
      <h2><a href="{{ post.path }}">{{ post.title }}</a></h2>
      <datetime>{{ post.date | date(format="%B %e, %Y") }}</datetime>
      {% if post.thumbnail %}
        <img src="{{ post.thumbnail }}" alt="" class="article-thumbnail" />
      {% endif %}
    </header>
    <div class="article-content">
      {{ post.extra["excerpt"] | default(value="") | markdown | safe }}
    </div>
  </article>
  {% endfor %}
</section>
{% endblock content %}
