{% extends "default.html" %}
{% block content %}
<section id="main-content">
  <article class="node-article">
    <header class="article-header">
      <h1>{{ page.title }}</h1>

      <datetime>Writton on {{ page.date | date(format="%B %e, %Y") }}</datetime>
    </header>

    <div class="article-body">
    {{ page.content | safe }}
    </div>

    <footer class="article-footer">
      <div class="article-call-to-action">
        <p>Was it good for you? Great! Please</p>

        <a href="https://twitter.com/BryceAdamFisher/" class="primary-cta">
          <strong>Follow Me<br>on twitter!</strong>
        </a>

        <p>or <a href="/feed.xml" class="secondary-cta">RSS</a> to read my next post <strong>first!</strong></p>
      </div>
    </footer>
  </article>
</section>
{% endblock content %}
